.company{
  border-bottom: 1px solid #aaa;
  padding: 10px 0;
  text-align: left;
  
  &:last-child{
    border-bottom: none;
  }

  .company-name{
    font-weight: bold;
  }
  
  .company-duties{
    font-size: 13px;
    color: #666;
    margin-top: 5px;
  }

  .company-stack{
    margin-top: 10px;
    margin-left: 110px;
    border: 1px dotted #fff;
    border-style: dashed;
    padding: 2px;
  }


  a{
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
  .company-logo{
    background: center no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
    border: 1px solid #aaa;
    border-radius: 2px;
  }
}