<div class="os-repo {{isForked}}">
  <div class="os-header">
    <a href="{{url}}" target="_blank">{{name}}</a>
    <span class="os-pushed-at">
      <i class="fa fa-clock-o"></i> 
      {{pushedAt}}
    </span>
  </div>
  <div class="os-content">
    <div class="os-description">{{description}}</div>
    <ul class="os-stats">
      <li>
        <i class="fa fa-star"></i>
        {{stars}}
      </li>
      <li>
        <i class="fa fa-code"></i>
        {{language}}
      </li>
      <li>
        <i class="fa fa-code-fork"></i>
        {{forks}}
      </li>
    </ul>
  </div>
</div>