*{
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(rgba(0, 116, 217, .75), rgba(222, 68, 21, .85)), url("b3.jpg") center/cover;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.content{
  top: 210px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  position: absolute;
  text-align: center;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em rgba(0, 0, 0, .4);

  img{
    height: 220px;
    width: 220px;
    padding: .5em;
    border-radius: 50%;
    background: rgba(white, .4);
    box-shadow: .5em .5em .5em rgba(black, .4);
    margin-top: -170px;
  }

  .bio{

  }
}